* {
	scrollbar-width: var(--scrollbar-width);
	scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color-thumb);
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-color-track);
}

*::-webkit-scrollbar {
	max-width: var(--scrollbar-width-legacy);
	max-height: var(--scrollbar-width-legacy);
}
