* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

#root > div:first-of-type {
	height: calc(100vh - 0px);
}

:root {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	overscroll-behavior: contain;
}

canvas {
	background: #010101;
	height: 100vh !important;
}

* {
	scrollbar-color: var(--gray32) transparent;
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 20px;
	border: 3px solid var(--gray25);
}
